@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.header_container {
    display: flex;
    flex-direction: column;
    float: right;
    margin-bottom: 200px;
    margin-right: 70px;
}
.nav_container {
    display: flex;
    flex-direction: row;
}

.nav_container li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    height:38px;
    width:160px;
    font-size: 15px;
    margin: 2px;
}

.nav_container li:hover {
    border:solid grey 1px;
}

.log_in_container {
    display: flex;
    justify-content: end;
}

.link_button:hover {
    border:solid yellow 1px;
}

.link_button {
    height:30px;
    width:90px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 3px;
    font-size: 15px;
    margin: 2px;
}


